body { background-color: #fff; color: #333; }

.wrapper {
		}
		
#left_content {display:none;
}

#right_content {
}

.links {display:none;}

table {border-style:solid;
	}
	
td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: gray;}
.entregador {
	page-break-before: always;
}


